/* Fonts */

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-regular.otf);
  font-weight: regular;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-italic.otf);
  font-style: italic;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-bolditalic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-medium.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-mediumitalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-lightitalic.ttf);
  font-weight: lighter;
  font-style: italic;
}

html, body {
  font-size: 14px;
  font-family: Raleway;
  font-weight: lighter;
  color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: PlayfairDisplay;
  font-weight: normal;
}

.mobile-hide {
  display: none;
}

/* Flex */
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.just-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.just-start {
  justify-content: flex-start;
}

.just-space-between {
  justify-content: space-between;
}

.width-hundred {
  width: 100%
}

.width-third {
  width: 30%;
}

.center-text {
  text-align: center;
}

.flex-one {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

/* Backgrounds */

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/images/banner-girl-cut.png'), url('assets/images/flower-bkgd.jpg');
  background-size: cover, 25vh, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, center bottom, center;
  height: 70vh;
  align-content: flex-end;
}

.bottomjumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('assets/images/wave-bkgd-cut.jpg') no-repeat;
  background-size: cover;
  height: 20em;
  flex:1;
}

/* colors */

.white {
  color: white;
}

.orange {
  color: #e2574c;
}

.light-grey {
  color: #969696;
}

/*HTML sections */

nav {
  padding: 6px 0;
}

.bottom-form {
  border-radius: 50px;
  background-color: white;
  width: 70%;
  justify-content: space-between;
}

.email-input {
  border-width: 0;
  border-radius: 50px;
  padding: 8px 20px;

}

.email-input:focus {
  outline: 0;
  background-color: transparent;
} 

/* input field - outofill how to target?*/
.email-input:textarea-webkit-autofill {
  background-color: red;
}

.subscribe {
  margin: 3px;
  background-color: #e2574c;
}

.footer {
  background-color: #242424;
  margin-top: 8px;
  padding: 30px 0;
}

.footer h4, .footer section {
  margin: 8px 0;
}

.social .flex {
  padding: 0 5px;
}

p {
  line-height: 1.8em;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 0 10px;
}

/*Carousel*/

.carousel-cell {
  width: 100%;
}

/*Links */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #b64036;
}

.footer>section>h4>a {
  text-decoration: underline;
}

/* Margins and Paddings */

.margin-sm {
  margin: 0.2em;
}

.margin-md {
  margin: 2.2em;
}

.padding-sm {
  padding: 10px;
}

.max-height{
  max-height: 40px;
}


/* Tablet */
@media (min-width: 600px) and (max-width: 1239px) {

  .mobile-hide {
    display: block;
  }

  html, body {
    font-size: 16px;
  }

  .bottom-form {
    width: 60%;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 30px
  }

  .social {
    flex-direction: column;
    width: 20%;
    max-height: 200px;
  }

  .social a {
    text-decoration: none;
  }

  .footer section {
    text-align: left;
  }

  .width-tablet {
    width: 70%;
  }

  .carousel-cell {
    width: 50%;
}

}

/* Desktop */
@media (min-width: 1240px) {

  .mobile-hide {
    display: block;
  }

  html, body {
    font-size: 16px;
  }

  .width-desktop {
    width: 50%;
  }

  .bottomjumbotron p {
    padding: 0 200px;
  }

  .footer i {
    flex: 1;
  }

  .footer p {
    flex: 5;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 30px
  }

  .social {
    flex-direction: column;
    width: 20%;
    max-height: 200px;
  }

  .social a {
    text-decoration: none;
  }

  .footer section {
    text-align: left;
  }

  .bottom-form {
    width: 30%;
  }

  .carousel-cell {
    width: 25%;
}

}