/* Fonts */

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-regular.otf);
  font-weight: regular;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-italic.otf);
  font-style: italic;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(assets/fonts/playfairdisplay-bolditalic.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-medium.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-mediumitalic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Raleway;
  src: url(assets/fonts/raleway-lightitalic.ttf);
  font-weight: lighter;
  font-style: italic;
}

html, body {
  font-size: 14px;
  font-family: Raleway;
  font-weight: lighter;
  color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: PlayfairDisplay;
  font-weight: normal;
}

/* Flex */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center-content {
  justify-content: center;
  align-content: center;
}

.center-text {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

/* Backgrounds */

.jumbotron {
  background: url('assets/images/flower-bkgd.jpg') no-repeat;
  background-size: cover;
  height: 20em;
  align-content: flex-end;
}

.innerjumbotron {
  background: url('assets/images/banner-girl.png')  no-repeat center bottom;
  background-size: cover;
  background-size: 35%;
}

.bottomjumbotron {
  background: url('assets/images/wave-bkgd.jpg') no-repeat;
  background-size: cover;
  height: 15em;
}

/* colors */

.white {
  color: white;
}

.orange {
  color: #e2574c;
}

.bg-dark-grey {
  background-color: #242424;
}

/* Margins and Paddings */

.margin-sm {
  margin: 0.2em;
}



/* Tablet */
@media (min-width: 600px) and (max-width: 1239px) {

  html, body {
  font-size: 16px;
}

}

/* Desktop */
@media (min-width: 1240px) {

  html, body {
  font-size: 16px;
}
  
}