.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

/* Backgrounds */

.jumbotron {
  background: url('assets/images/flower-bkgd.jpg') no-repeat;
  background-size: cover;
  height: 20em;
}

.innerjumbotron {
  background: url('assets/images/banner-girl.png')  no-repeat center;
  background-size: cover;
  background-size: 50%;
}

.bottomjumbotron {
  background: url('assets/images/wave-bkgd.jpg') no-repeat;
  background-size: cover;;
}

.center-content {
  justify-content: center;
  align-content: center;
}

.center-text {
  text-align: center;
}

/* Fonts */

.font-white {
  color: white;
}

.font-red {
  color: red;
}








/* Tablet */
@media (min-width: 600px) and (max-width: 1239px) {

}

/* Desktop */
@media (min-width: 1240px) {
  
}